<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='libs/bootstrap.min.css') }}" rel="stylesheet">
    <title>Jumping Game</title>
</head>

<body>
    <div class="container py-3">
        <div class="row mb-5">
            <div class="col-auto">
                Your session ID: <span id="session"></span>
            </div>
            <div class="col-auto">
                <form name="myForm">
                    <input type="radio" class="btn-check" name="gender" id="primary-outlined" value="boy" checked>
                    <label class="btn btn-outline-primary" for="primary-outlined">Boy</label>

                    <input type="radio" class="btn-check" name="gender" id="danger-outlined" value="girl">
                    <label class="btn btn-outline-danger" for="danger-outlined">Girl</label>
                </form>
            </div>
        </div>
        <div id="game">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <!-- <script src="{{ url_for('static', filename='js/lib/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/apexcharts.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/visualization.js') }}"></script>

    {% block scriptfiles %}
    {% endblock %} -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='libs/phaser.min.js') }}"></script>
    <script src="{{ url_for('static', filename='game.js') }}" type="module"></script>
</body>

</html>